<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
<div class="background">
 <div class="container mt-3">
  
  <form id="form" action="/action_page.php">
    <h2>REGISTER</h2>
    <div class="mb-3 mt-3">
        <label for="First Name">First Name</label>
        <input type="text" required class="form-control" id="fname" placeholder="Enter First Name" name="fname">
      </div>
      <div class="mb-3 mt-3">
        <label for="Last Name">Last Name</label>
        <input type="text" required class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
      </div>
      <div class="mb-3 mt-3">
        <label for="Phone Number">Phone Number</label>
        <input type="pno" required class="form-control" id="phone" placeholder="Enter Phone No" name="phone no">
      </div>
    <div class="mb-3 mt-3">
      <label for="email">EMAIL</label>
      <input type="email" required class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3 mt-3">
      <label for="pwd">PASSWORD</label>
      <input type="password" required class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    
    <button type="submit" class="btn btn-expand-md btn-primary" >Submit</button>
  </form><br>
  <br>
  <br>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>